language: python

# We need a full clone to make sure setuptools_scm works properly
git:
    depth: false

os:
    - linux

# The apt packages below are needed for sphinx builds. A full list of packages
# that can be included can be found here:
#
# https://github.com/travis-ci/apt-package-whitelist/blob/master/ubuntu-precise

addons:
    apt:
        packages:
            - graphviz


stages:
   # Do the style check and a single test job, don't proceed if it fails
   - name: Initial tests
   # Test docs, astropy dev, and without optional dependencies
   - name: Comprehensive tests
   # These will only run when cron is opted in
   - name: Cron tests
     if: type = cron

stage: Comprehensive tests

env:
    global:

        # The following versions are the 'default' for tests, unless
        # overridden underneath. They are defined here in order to save having
        # to repeat them for all configurations.

        # The following three variables are for tox. TOXENV is a standard
        # variable that tox uses to determine the environment to run,
        # TOXARGS are arguments passed to tox, and TOXPOSARGS are arguments
        # that tox passes through to the {posargs} indicator in tox.ini.
        # The latter can be used for example to pass arguments to pytest.
        - TOXENV='test'
        - TOXARGS='-v'
        - TOXPOSARGS=''

        # Also allow tests without pip or tox, getting our packages using apt
        - INSTALL_WITH_APT=False
        - APT_DEPENDENCIES='python3-astropy python3-pytest-astropy python3-setuptools'

        # If there are matplotlib or other GUI tests, uncomment the following
        # line to use the X virtual framebuffer.
        # - SETUP_XVFB=True

matrix:

    # Don't wait for allowed failures
    fast_finish: true

    include:

        - name: Tests that all the basics are covered.
          stage: Initial tests
          python: 3.7
          env: TOXENV=py37-test

        - name: Code style checks
          stage: Initial tests
          python: 3.8
          env: TOXENV=codestyle

        - name: Documentation build
          python: 3.8
          env: TOXENV=build_docs

        - name: Coverage using oldest supported versions
          python: 3.7
          env: TOXENV="py37-test-oldestdeps-cov"

        # Now try Astropy dev with the latest Python
        - name: Python 3.8 with developer version of astropy
          python: 3.8
          env: TOXENV=py38-test-devdeps

        # Also regularly try the big-endian s390 architecture, in the
        # process checking that installing dependencies with apt works.
        # stage: Cron tests
        - name: big-endian s390 architecture with apt
          arch: s390
          language: c
          env: INSTALL_WITH_APT=True

install:

    # We now use the ci-helpers package to set up our testing environment.

    - if [[ $INSTALL_WITH_APT != True ]]; then
        pip install tox;
      else
        curl https://ftp-master.debian.org/keys/archive-key-10.asc | sudo apt-key add -;
        echo "deb http://ftp.us.debian.org/debian testing main" | sudo tee -a /etc/apt/sources.list;
        sudo apt-get -qq update;
        sudo apt-get install -y --no-install-recommends ${APT_DEPENDENCIES};
      fi

script:
    - if [[ $INSTALL_WITH_APT != True ]]; then
        tox $TOXARGS -- $TOXPOSARGS;
      else
        pytest-3;
      fi

after_success:
    - if [[ $TOXENV == *-cov ]]; then
        pip install codecov;
        codecov --gcov-glob "*cextern*";
      fi
